<ion-view class="backgroundBody" view-title="Mode d'emploi - Clickshare">
  <ion-content ng-controller="ClickshareCtrl">
      <div class="row">
        <div class="list card col col-100 " id="clickshare1">
          <div class="item item-avatar">
            <h2>Salle Clickshare</h2>
            <p>Version PC & MAC</p>
          </div>

          <div class="item item-image">
            <img src="img/ClickShare-pc1.jpg">
          </div>

          <div class="item item-text-wrap">
            <p>Après avoir insérer le Dongle dans le port USB de vtre Ordinateur, l'écran s'allume automatiquement.</p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="list card col col-100 clickshareUp" id="clickshare2">
          <div class="item item-avatar">
            <h2>Salle Clickshare</h2>
            <p>Version PC & MAC</p>
          </div>

          <div class="item item-image">
            <img src="img/ClickShare-pc2.jpg">
          </div>

          <div class="item item-text-wrap">
            <p>Sélectionner l'application qui s'affiche sur votre bureau.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="list card col col-100 clickshareUp" id="clickshare3">
          <div class="item item-avatar">
            <h2>Salle Clickshare</h2>
            <p>Version PC & MAC</p>
          </div>

          <div class="item item-image">
            <img src="img/ClickShare-pc3.jpg">
          </div>

          <div class="item item-text-wrap">
            <p>Appuyer sur le Dongle pour synchroniser votre PC & votre écran</p>
            <p>Débrancher le Dongle pour quitter, le système se mettra automatiquement en veille.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="list card col col-100 clickshareUp" id="clickshare4">
          <div class="item item-avatar">
            <h2>Salle Clickshare</h2>
            <p>Version Mobile</p>
          </div>

          <div class="item item-image">
            <img src="img/ClickShare-smartphone1.jpg">
          </div>

          <div class="item item-text-wrap">
            <p>Scanner le QR ou télécharger sur le store de votre mobile.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="list card col col-100 clickshareUp" id="clickshare5">
          <div class="item item-avatar">
            <h2>Salle Clickshare</h2>
            <p>Version Mobile</p>
          </div>

          <div class="item item-image">
            <img src="img/ClickShare-smartphone2.jpg">
          </div>

          <div class="item item-text-wrap">
            <p>Il vous faut que votre mobile et votre écrant soient sur le même réseau WIFI.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="list card col col-100 clickshareUp" id="clickshare6">
          <div class="item item-avatar">
            <h2>Salle Clickshare</h2>
            <p>Version Mobile</p>
          </div>

          <div class="item item-image">
            <img src="img/ClickShare-smartphone3.jpg">
          </div>

          <div class="item item-text-wrap">
            <p>Sélectionner l'icone rond rouge & blanc, pour synchroniser votre mobile & votre écran.</p>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
