<ion-view hide-back-button="true" view-title="Accueil">
  <ion-content>
    <ion-list id="accueuil">
      <a href="#/141/resasalle" class="item salle">Salles disponibles</a>
      <a href="#/141/manual" class="item manual">Mode d'emploi</a>
      <a href="#/141/control" class="item gps">Piloter les salles</a>
      <a href="#/141/commodites" class="item commodites">Restaurations</a>
      <a href="#/141/transports" class="item transports">Transports</a>
      <a href="#/141/news" class="item news">Actualités</a>
      <a href="#/141/contactUs" class="item contactUs">Nous contacter</a>
    </ion-list>
  </ion-content>
</ion-view>
