<ion-view class="backgroundBody" view-title="Mode d'emploi - Est2F20">
  <ion-content ng-controller="Est2F20Ctrl">
      <div class="row">
        <div class="list card col col-100 " id="estf201">
          <div class="item item-avatar">
            <h2 class="overflow">Est 2 F20</h2>
            <p>Démarrer une présentation</p>
          </div>

          <div class="item item-image">
            <img src="img/est2f12-3.png">
          </div>

          <div class="item item-text-wrap">
            <p>Connecte le Dongle Clickshare <img src="img/clickshare.jpg" class="stop"></p><br>
            <p>L'écran démarre automatiquemen, puis suivre les instructions comme ci-dessus.</p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="list card col col-100 " id="huddleCrestron2">
          <div class="item item-avatar">
            <h2 class="overflow">Est 2 F20</h2>
            <p>Démarrer une présentation</p>
          </div>

          <div class="item item-text-wrap">
            <p>Prendre la télécommande pour réveiller le codec Visio.</p><br>
            <p>L'écran démarre automatiquement, et la visoconférence est prioritaire sur la présentation.</p>
          </div>

        </div>
      </div>
  </ion-content>
</ion-view>
