<ion-content ng-controller="ManualGpsCtrl" id="tabs-height">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">App141</h1>
  </ion-header-bar>
  <div class="list">
    <a href="#/manual" class="item item-manual manual topManual">Mode d'emploi</a>
    <a href="" class="item item-gps1 gps1">GPS du batîment</a>
  </div>
  <!--<div class="tabs tabs-dark">
    <a href="" class="tab-item ">
      <span class="ion-help"></span>
    </a>
    <a href="" class="tab-item">
      <span class="ion-location"></span>
    </a>
  </div>-->
</ion-content>
