<ion-view class="backgroundBody" view-title="Manuel d'emploi - Huddle Room">
  <ion-content>
      <div class="row">
        <div class="list card col col-100" id="huddle1">
          <div class="item item-avatar">
            <h2>Salle Huddle Room Collab</h2>
            <p>Présentation sans fil</p>
          </div>

          <div class="item item-image">
            <img src="img/Parenthese1.PNG">
          </div>

          <div class="item item-text-wrap">
            <p>Pour afficher votre écran, cliquer sur la zone de notification, indiquer ci-dessus.</p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="list card col col-100 clickshareUp" id="huddle2">
          <div class="item item-avatar">
            <h2>Salle Huddle Room Collab</h2>
            <p>Présentation sans fil</p>
          </div>

          <div class="item item-text-wrap">
            <p>Cliquer sur projeter <img src="img/Parenthese2.PNG" class="onOff"> puis sur "se connecter à l'affichage sans fil".</p>
            <p>Sélectionner le numéro de la salle, puis saisir le mot de passe affiché à l'écran.</p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="list card col col-100 clickshareUp" id="huddle3">
          <div class="item item-avatar">
            <h2>Salle Huddle Room Collab</h2>
            <p>Présentation USB (3.0)</p>
          </div>

          <div class="item item-text-wrap">
            <p>Brancher le cable USB <img src="img/huddle1.png" class="onOff"> à votre PC.</p>
            <p>Le système démarrera automatiquement.</p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="list card col col-100 clickshareUp" id="huddle4">
          <div class="item item-avatar">
            <h2>Salle Huddle Room Collab</h2>
            <p>Mode Web Conférence</p>
          </div>

          <div class="item item-text-wrap">
            <p>Après etre connecté en USB, ouvrez votre logiciel (type Skype).</p>
            <p>Brancher le cable USB 3.0 à votre PC.</p>
            <p>Dans votree logiciel de conférence web, puis sélectionner <strong>Jabra 510 USB</strong> dans périphérique audio.</p>
            <p><strong>Logitech WebcamC930e</strong> dans périphérique vidéo.</p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="list card col col-100 clickshareUp" id="huddle5">
          <div class="item item-avatar">
            <h2>Salle Huddle Room Collab</h2>
            <p>Mode Call Wireless</p>
          </div>

          <div class="item item-image">
            <img src="img/huddle2.png" class="jabra">
          </div>

          <div class="item item-text-wrap">
            <p>Maitenir le bouton Bluetooth <img src="img/huddle3.png" class="onOff"> durant 2 secondes puis suivre les instructions.</p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="list card col col-100 clickshareUp" id="huddle6">
          <div class="item item-avatar">
            <h2>Salle Huddle Room Collab</h2>
            <p>Mode Call Wireless</p>
          </div>

          <div class="item item-image">
            <img src="img/huddle2.png" class="jabra">
          </div>

          <div class="item item-text-wrap">
            <p>Utiliser les touches du "Jabra" pour piloter votre smartphone (volume, décrochage, etc...).</p>
          </div>

        </div>
      </div>
  </ion-content>
</ion-view>
