<ion-view class="backgroundBody" view-title="Actualités">
  <ion-content ng-controller="NewsCtrl">
      <iframe src="http://www.videlio.com/actualites/" frameborder="0" id="contactIframe"></iframe>
      <!--<ion-list>
        <span ng-repeat="items in results | limitTo: 10" id="news">
          <div class="item item-divider" >
            {{items.title}}
          </div>
          <a href="{{items.link}}" class="item newDesc" ng-bind-html="items.description | limitTo: 500"></a>
        </span>
      </ion-list>-->
  </ion-content>
</ion-view>
