<ion-view class="backgroundBody" view-title="Mode d'emploi - Parenthèse">
  <ion-content>
      <div class="row">
        <div class="list card col col-100" id="parenthese1">
          <div class="item item-avatar">
            <h2>Espaces Parentèse</h2>
            <p>Présentation sans fil</p>
          </div>

          <div class="item item-image">
            <img src="img/Parenthese1.PNG" class="windowsBarre">
          </div>

          <div class="item item-text-wrap">
            <p>Cliquer sur Notification.</p>
            <p>Puis cliquer sur Projeter & sur "Connecter à un dispositif sans fil".</p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="list card col col-100 clickshareUp" id="parenthese2">
          <div class="item item-avatar">
            <h2>Espaces Parentèse</h2>
            <p>Présentation sans fil</p>
          </div>

          <div class="item item-image">
            <img src="img/Parenthese3.jpg">
          </div>

          <div class="item item-text-wrap">
            <p>Sélectionner le nom de la salle dans laquelle vous souhaitez partager.</p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="list card col col-100 clickshareUp" id="parenthese3">
          <div class="item item-avatar">
            <h2>Espaces Parentèse</h2>
            <p>Présentation sans fil</p>
          </div>

          <div class="item item-text-wrap">
            <p>Appuyer sur <img src="img/Parenthese4.PNG"/> + P afin de choisir le mode d'affichage.</p>
            <p>Pour vous déconnecter, sélectionner votre salle et cliquer sur "déconnecter".</p>
          </div>

        </div>
      </div>
  </ion-content>
</ion-view>
